<div >
  <ion-card>
    <img (click)="scannQR()" src="./../../../assets/qrpng.png" alt="">
    <!-- <ion-button (click)="scannQR()" size="large" expand="block">Escanea tu QR!</ion-button> -->
    <h1>Presione para escanear su QR!</h1>
  </ion-card>
  <!-- <ion-button (click)="simularEscaner('ENTRADA', 1)">Escanear entrada</ion-button> -->
  <!-- <ion-button (click)="simularEscaner('MESA', 1)">Escanear mesa 1</ion-button>-->
  <ion-button (click)="redirectTo('grafico')" *ngIf="verGraficos">Ver reseñas</ion-button>

  <!-- <p>Escanéa tu código QR aquí</p>-->
</div>
